<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cesarandres.campuscompass"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name=".PlaceListActivity"
            android:label="@string/title_place_list" >
        </activity>
        <activity
            android:name=".PlaceDetailActivity"
            android:label="@string/title_place_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlaceListActivity" />
        </activity>
    </application>

</manifest>